* {
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.window {
    margin-top: 2em;
    margin-bottom: 2em;
    background: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    padding: 2em;
    font-size: 20px;
    box-shadow: 1px 1px 9px #3c3c3c0a;
}